<div class="flex flex-col h-full">
    @* Message thread *@
    <div class="flex-1 p-0">
        <MessageThread Messages="Messages" />
    </div>

    @* Input Area Here *@

</div>

@code {
    [Parameter] public List<Message> Messages { get; set; }
}
