<div class="flex max-w-full p-4 text-[12px] leading-4 border-[1px] rounded-bl-md rounded-tl-md rounded-tr-md bg-[#fff5f6] border-red-200">
    <p>
        Apply our brand palette and add percentage labels above each bar. Also make the chart title more descriptive.
    </p>
</div>

@code {

}
