@using ChartForge.Core.Models
@using ChartForge.Web.Components.Icons
@inject ChatStateService service;

<div class="flex flex-wrap">
    <SuggestionChips />
</div>

<EditForm Model="@newChat" OnValidSubmit="SendRequest">
    <div class="flex items-center justify-between border-2 text-sm px-4 border-gray-200 bg-gray-50 rounded-lg">
        <div class="flex w-full items-center gap-2">
            <ClipIcon />
            <InputText @bind-Value="newChat.Content" class="py-2 w-full" placeholder="Describe the chart you want" />
        </div>
        <button type="submit" class="cursor-pointer">
            <SendIcon />
        </button>
    </div>
</EditForm>

@code {
    [Parameter] public EventCallback<string> OnSend { get; set; }
    private MessageContext newChat = new MessageContext { Role = "user" };
    private async Task SendRequest() {
        if (!string.IsNullOrWhiteSpace(newChat.Content)) {
            await OnSend.InvokeAsync(newChat.Content);
            newChat.Content = "";
        }
    }

}
