<div class="border-1 text-[10px] flex flex-wrap max-w-40 text-gray-600 hover:bg-gray-100 hover:border-gray-400 transition-colors px-4 py-0.5 mb-2 mr-2 border-gray-300 rounded-full">
    Add color Description
</div>

@code {

}
