@page "/"
@page "/c/{ConversationId:int}"
@inject ChatStateService ChatState
@implements IDisposable

@using ChartForge.Web.Components.Canvas
@inject ChatStateService service;

<div class="flex h-full w-full bg-white">
    <section class="flex flex-col w-full lg:w-[30%] xl:w-[25%] h-full border-r border-gray-200 relative">
       <div class="flex-shrink-0">
           <ChartForge.Web.Components.Chat.ChatHeader />
       </div>
       <div class="flex-1 overflow-y-auto scroll-smooth p-4">
            <ChartForge.Web.Components.Chat.Chat Messages="ActiveConversation.Messages?.ToList() ?? new List<Message>()" />
       </div>
       <div class="flex-shrink-0 p-4 bg-white relative border-t-1 border-gray-200">
           <div class="absolute -top-6 left-0 right-0 h-6 from-white to-transparent pointer-events-none"></div>
            <ChartForge.Web.Components.Chat.PromptInput />
            <div class="mt-2 text-center text-[10px] text-gray-400 font-medium">
                some kind of message ni radian xdd
            </div>
       </div>
    </section>
    <section class="hidden lg:flex flex-1 flex-col h-full bg-gray-50/50 relative">
        <div class="flex-shrink-0 border-b border-gray-200 bg-white">
            <ChartForge.Web.Components.Canvas.CanvasHeader />
        </div>
        <div class="flex-1 overflow-y-auto p-6 flex flex-col items-center justify-center">
            <CanvasArea />
        </div>
    </section>
</div>

@code {
    [Parameter]
    public int? ConversationId { get; set; }

    protected override void OnInitialized()
    {
        ChatState.OnChange += HandleStateChanged;
    }

    protected override async Task OnParametersSetAsync()
    {
        // fires when ConversationId changes via URL
        // later: load real messages here
    }

    private async void HandleStateChanged()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        ChatState.OnChange -= HandleStateChanged;
    }
}